In [33]:
%matplotlib notebook
import os 
import csv
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt 
from scipy.stats import mode
import statistics

In [34]:
noice_quality_file = "Noise_Exceedance_Rating.csv"

In [35]:
#read csv
noise_quality_df = pd.read_csv(noice_quality_file)
noise_quality_df.head()

,Year,Month,Airline Code,Airline,Total Noise Exceedances,Total Operations per Month,Exceedances per 1000 Operations,Noise Exceedance Quality Rating Score,Noise Exceedance Rating
0,2006,January,EJA,NETJETS AVIATION,1,637,2,9.99,9.99
1,2006,January,SKW,SKYWEST,15,6752,2,9.99,9.99
2,2006,January,USA,US AIRWAYS,2,388,5,9.97,9.97
3,2006,January,QXE,HORIZON AIR,1,168,6,9.97,9.97
4,2006,January,DLH,LUFTHANSA,1,108,9,9.95,9.95

In [36]:
#check for any missing information
noise_quality_df.count()

Year                                     6280
Month                                    6280
Airline Code                             6280
Airline                                  6266
Total Noise Exceedances                  6280
Total Operations per Month               6280
Exceedances per 1000 Operations          6280
Noise Exceedance Quality Rating Score    6280
Noise Exceedance Rating                  6280
dtype: int64

In [37]:
#make values that are NaN in Airline column to other
noise_quality_df['Airline'] = noise_quality_df['Airline'].fillna('Other')

#check count
noise_quality_df.count()

Year                                     6280
Month                                    6280
Airline Code                             6280
Airline                                  6280
Total Noise Exceedances                  6280
Total Operations per Month               6280
Exceedances per 1000 Operations          6280
Noise Exceedance Quality Rating Score    6280
Noise Exceedance Rating                  6280
dtype: int64

In [38]:
#check number of airlines in data set
noise_quality_df['Airline Code'].value_counts()

#check data 
noise_quality_df.dtypes

Year                                       int64
Month                                     object
Airline Code                              object
Airline                                   object
Total Noise Exceedances                    int64
Total Operations per Month                 int64
Exceedances per 1000 Operations            int64
Noise Exceedance Quality Rating Score    float64
Noise Exceedance Rating                  float64
dtype: object

In [39]:
# change year to string
noise_quality_df['Year'] = noise_quality_df['Year'].astype(str)
noise_quality_df.dtypes

Year                                      object
Month                                     object
Airline Code                              object
Airline                                   object
Total Noise Exceedances                    int64
Total Operations per Month                 int64
Exceedances per 1000 Operations            int64
Noise Exceedance Quality Rating Score    float64
Noise Exceedance Rating                  float64
dtype: object

In [40]:
#filter data to show only year
noise_quality_df = noise_quality_df.loc[(noise_quality_df['Year'] >= '2008') & 
                                    (noise_quality_df['Year'] <= '2018'),:]

noise_quality_df["Year"].unique()

array(['2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015',
       '2016', '2017', '2018'], dtype=object)

In [41]:
noise_quality_df.count()

Year                                     4930
Month                                    4930
Airline Code                             4930
Airline                                  4930
Total Noise Exceedances                  4930
Total Operations per Month               4930
Exceedances per 1000 Operations          4930
Noise Exceedance Quality Rating Score    4930
Noise Exceedance Rating                  4930
dtype: int64

In [42]:
#create pivot table
noise_pivot = pd.pivot_table(noise_quality_df,index=['Airline Code'], values = ['Noise Exceedance Quality Rating Score'],
               columns=['Year'], aggfunc='mean', fill_value=0)

noise_pivot

             Noise Exceedance Quality Rating Score                      \
Year                                          2008      2009      2010
Airline Code
AAH                                       4.710000  0.000000  0.000000
AAL                                       9.855000  9.845000  9.847500
AAR                                       5.736667  6.121667  7.059167
AAY                                       9.700000  9.020000  9.065000
ABD                                       0.000000  0.000000  0.000000
...                                            ...       ...       ...
VRD                                       9.919167  9.930833  9.929167
WJA                                       0.000000  9.360000  8.970000
WOA                                       0.000000  0.000000  0.476000
WOW                                       0.000000  0.000000  0.000000
XLF                                       0.000000  0.000000  0.000000

                                                                          \
Year              2011      2012      2013      2014      2015      2016
Airline Code
AAH           0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
AAL           9.890833  9.884167  9.924167  9.904167  9.803333  9.824167
AAR           6.980833  7.955000  6.217500  6.208333  3.941667  6.876667
AAY           8.842500  0.000000  9.180000  0.000000  0.000000  0.000000
ABD           0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
...                ...       ...       ...       ...       ...       ...
VRD           9.937500  9.917500  9.932500  9.929167  9.908333  9.908333
WJA           9.970000  9.970000  9.846667  9.850000  9.678000  9.610000
WOA           2.560000  2.723000  0.000000  0.000000  0.000000  0.000000
WOW           0.000000  0.000000  0.000000  0.000000  0.000000  9.890000
XLF           0.000000  9.760000  0.000000  9.440000  0.000000  9.790000


Year              2017      2018
Airline Code
AAH           0.000000  0.000000
AAL           9.771667  9.729167
AAR           7.369091  5.275833
AAY           9.360000  0.000000
ABD           0.000000  6.170000
...                ...       ...
VRD           9.861667  9.740000
WJA           9.688000  9.888000
WOA           0.000000  0.000000
WOW           8.420000  9.890000
XLF           9.756667  9.790000

[132 rows x 11 columns]

In [43]:
#convert pivot table to a new data frame
noise_pivot.columns = noise_pivot.columns.droplevel(0)
noise_pivot.columns.name = None 
noise_quality_newdf = noise_pivot.reset_index() 

noise_quality_newdf

,Airline Code,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,AAH,4.710000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,AAL,9.855000,9.845000,9.847500,9.890833,9.884167,9.924167,9.904167,9.803333,9.824167,9.771667,9.729167
2,AAR,5.736667,6.121667,7.059167,6.980833,7.955000,6.217500,6.208333,3.941667,6.876667,7.369091,5.275833
3,AAY,9.700000,9.020000,9.065000,8.842500,0.000000,9.180000,0.000000,0.000000,0.000000,9.360000,0.000000
4,ABD,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.170000
...,...,...,...,...,...,...,...,...,...,...,...,...
127,VRD,9.919167,9.930833,9.929167,9.937500,9.917500,9.932500,9.929167,9.908333,9.908333,9.861667,9.740000
128,WJA,0.000000,9.360000,8.970000,9.970000,9.970000,9.846667,9.850000,9.678000,9.610000,9.688000,9.888000
129,WOA,0.000000,0.000000,0.476000,2.560000,2.723000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
130,WOW,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,9.890000,8.420000,9.890000
131,XLF,0.000000,0.000000,0.000000,0.000000,9.760000,0.000000,9.440000,0.000000,9.790000,9.756667,9.790000

In [44]:
#top 10 airlines in 2008
df_2008 = noise_quality_newdf.nlargest(10, ['2008'])
df_2008 = df_2008[['Airline Code']]
df_2008

#top 10 airlines in 2009
df_2009 = noise_quality_newdf.nlargest(10, ['2009'])
df_2009 = df_2009[['Airline Code']]
df_2009

#top 10 airlines in 2010
df_2010 = noise_quality_newdf.nlargest(10, ['2010'])
df_2010 = df_2010[['Airline Code']]
df_2010

#top 10 airlines in 2011
df_2011 = noise_quality_newdf.nlargest(10, ['2011'])
df_2011 = df_2011[['Airline Code']]
df_2011

#top 10 airlines in 2012
df_2012 = noise_quality_newdf.nlargest(10, ['2012'])
df_2012 = df_2012[['Airline Code']]
df_2012

#top 10 airlines in 2013
df_2013 = noise_quality_newdf.nlargest(10, ['2013'])
df_2013 = df_2013[['Airline Code']]
df_2013

#top 10 airlines in 2014
df_2014 = noise_quality_newdf.nlargest(10, ['2014'])
df_2014 = df_2014[['Airline Code']]
df_2014

#top 10 airlines in 2015
df_2015 = noise_quality_newdf.nlargest(10, ['2015'])
df_2015 = df_2015[['Airline Code']]
df_2015

#top 10 airlines in 2016
df_2016 = noise_quality_newdf.nlargest(10, ['2016'])
df_2016 = df_2016[['Airline Code']]
df_2016

#top 10 airlines in 2017
df_2017 = noise_quality_newdf.nlargest(10, ['2017'])
df_2017 = df_2017[['Airline Code']]
df_2017

#top 10 airlines in 2018
df_2018 = noise_quality_newdf.nlargest(10, ['2018'])
df_2018 = df_2018[['Airline Code']]
df_2018

top_10 = pd.concat([df_2008, df_2009, df_2010, df_2010, df_2011, df_2012, df_2013, df_2014, df_2015, df_2016,
                   df_2017, df_2018], keys = ['2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', 
                                              '2016', '2017', '2018'],
                   axis=1, sort=False)

top_10 = top_10.apply(lambda x: pd.Series(x.dropna().values))
top_10.columns = top_10.columns.droplevel(-1)

top_10

  2008 2009 2010 2011 2012 2013 2014 2015 2016 2017 2018
0  ACA  AMF  ACA  ACA  AMF  AFR  AAL  ANA  ANA  BER  AFR
1  AWE  ANA  AMF  AMF  ANA  DAL  AWE  ASA  ASA  CES  ANA
2  BTA  AWE  ASA  ASA  ASH  FFT  CPZ  ASH  CPZ  CSN  CES
3  EGF  EGF  ASH  ASH  EJA  JAL  DAL  CPZ  DAL  DAL  EJA
4  EJA  EJA  AWE  AWE  FFT  OPT  FFT  DAL  EJA  DLH  JAL
5  FFT  OPT  EJA  EJA  MES  QXE  JAL  EJA  FFT  EJA  QXE
6  LXJ  QXE  QXE  QXE  QXE  SKW  QXE  FFT  SCX  KLM  SAS
7  OPT  SKW  RPA  RPA  SKW  VIR  SKW  SCX  SKW  SKW  SKW
8  QXE  UAE  SKW  SKW  VRD  VRD  UAE  SKW  UAE  THY  UAE
9  SKW  VIR  SWR  SWR  WJA  WJA  VRD  VRD  VRD  VRD  VIR

In [45]:
#create data frame for top 10 of each year 
top_10 = top_10.apply(lambda x: x.sort_values().values)
top_10

  2008 2009 2010 2011 2012 2013 2014 2015 2016 2017 2018
0  ACA  AMF  ACA  ACA  AMF  AFR  AAL  ANA  ANA  BER  AFR
1  AWE  ANA  AMF  AMF  ANA  DAL  AWE  ASA  ASA  CES  ANA
2  BTA  AWE  ASA  ASA  ASH  FFT  CPZ  ASH  CPZ  CSN  CES
3  EGF  EGF  ASH  ASH  EJA  JAL  DAL  CPZ  DAL  DAL  EJA
4  EJA  EJA  AWE  AWE  FFT  OPT  FFT  DAL  EJA  DLH  JAL
5  FFT  OPT  EJA  EJA  MES  QXE  JAL  EJA  FFT  EJA  QXE
6  LXJ  QXE  QXE  QXE  QXE  SKW  QXE  FFT  SCX  KLM  SAS
7  OPT  SKW  RPA  RPA  SKW  VIR  SKW  SCX  SKW  SKW  SKW
8  QXE  UAE  SKW  SKW  VRD  VRD  UAE  SKW  UAE  THY  UAE
9  SKW  VIR  SWR  SWR  WJA  WJA  VRD  VRD  VRD  VRD  VIR

In [46]:
#calculating the mode

value_count = 0
top_airline = ""
count = 0
data = {}

for index, columns in top_10.iterrows():
    for value in columns.values:
        
        if value not in data:
            data[value] = 1
        else:
            data[value] += 1

In [47]:
#create dataframe to find the mode for top 10 dataframe by year
mode_analysis = pd.DataFrame({'Airline': data})
mode_analysis.sort_values(by='Airline', ascending=False)

     Airline
SKW       11
EJA        9
QXE        8
FFT        6
VRD        6
ANA        5
AWE        5
DAL        5
ASA        4
ASH        4
UAE        4
AMF        4
VIR        3
OPT        3
CPZ        3
ACA        3
JAL        3
SCX        2
RPA        2
SWR        2
WJA        2
EGF        2
CES        2
AFR        2
MES        1
LXJ        1
KLM        1
SAS        1
DLH        1
CSN        1
THY        1
BTA        1
BER        1
AAL        1

In [48]:
#highlight skw - airline with highest frquency
top_10

top_10.style.applymap(lambda x: 'background-color : yellow' if x == 'SKW' else '')

In [49]:
#create pivot table
noise_count_pivot = pd.pivot_table(noise_quality_df,index=['Airline Code'], values = ['Exceedances per 1000 Operations'], 
                                   columns=['Year'], aggfunc='sum', fill_value=0)

noise_count_pivot

             Exceedances per 1000 Operations                             \
Year                                    2008   2009   2010  2011   2012
Airline Code
AAH                                     1000      0      0     0      0
AAL                                      398    480    517   327    322
AAR                                    11518  12294  10704  9079   5396
AAY                                      156    500    500  1250      0
ABD                                        0      0      0     0      0
...                                      ...    ...    ...   ...    ...
VRD                                      225    209    245   179    231
WJA                                        0    317    507    16     16
WOA                                        0      0  14938  7059  17747
WOW                                        0      0      0     0      0
XLF                                        0      0      0     0     63


Year           2013   2014   2015  2016  2017  2018
Airline Code
AAH               0      0      0     0     0     0
AAL             216    264    388   491   525   513
AAR           10236  10526  11544  9033  5057  8324
AAY             250      0      0     0   167     0
ABD               0      0      0     0     0   500
...             ...    ...    ...   ...   ...   ...
VRD             187    186    175   243   313    42
WJA             219    231    231   637   331   112
WOA               0      0      0     0     0     0
WOW               0      0      0   120  3444    63
XLF               0    452      0   117   145    38

[132 rows x 11 columns]

In [50]:
#bottom 10 airlines in 2008
df_2008 = noise_quality_newdf.nsmallest(10, ['2008'])
df_2008 = df_2008[['Airline Code']]
df_2008

#bottom 10 airlines in 2009
df_2009 = noise_quality_newdf.nsmallest(10, ['2009'])
df_2009 = df_2009[['Airline Code']]
df_2009

#bottom 10 airlines in 2010
df_2010 = noise_quality_newdf.nsmallest(10, ['2010'])
df_2010 = df_2010[['Airline Code']]
df_2010

#bottom 10 airlines in 2011
df_2011 = noise_quality_newdf.nsmallest(10, ['2011'])
df_2011 = df_2011[['Airline Code']]
df_2011

#bottom 10 airlines in 2012
df_2012 = noise_quality_newdf.nsmallest(10, ['2012'])
df_2012 = df_2012[['Airline Code']]
df_2012

#bottom 10 airlines in 2013
df_2013 = noise_quality_newdf.nsmallest(10, ['2013'])
df_2013 = df_2013[['Airline Code']]
df_2013

#bottom 10 airlines in 2014
df_2014 = noise_quality_newdf.nsmallest(10, ['2014'])
df_2014 = df_2014[['Airline Code']]
df_2014

#bottom 10 airlines in 2015
df_2015 = noise_quality_newdf.nsmallest(10, ['2015'])
df_2015 = df_2015[['Airline Code']]
df_2015

#bottom 10 airlines in 2016
df_2016 = noise_quality_newdf.nsmallest(10, ['2016'])
df_2016 = df_2016[['Airline Code']]
df_2016

#bottom 10 airlines in 2017
df_2017 = noise_quality_newdf.nsmallest(10, ['2017'])
df_2017 = df_2017[['Airline Code']]
df_2017

#bottom 10 airlines in 2018
df_2018 = noise_quality_newdf.nsmallest(10, ['2018'])
df_2018 = df_2018[['Airline Code']]
df_2018

bottom_10 = pd.concat([df_2008, df_2009, df_2010, df_2010, df_2011, df_2012, df_2013, df_2014, df_2015, df_2016,
                   df_2017, df_2018], keys = ['2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', 
                                              '2016', '2017', '2018'],
                   axis=1, sort=False)

bottom_10 = bottom_10.apply(lambda x: pd.Series(x.dropna().values))
bottom_10.columns = bottom_10.columns.droplevel(-1)

bottom_10

  2008 2009 2010 2011 2012 2013 2014 2015 2016 2017 2018
0  ABD  AAH  AAH  AAH  AAH  AAH  AAH  AAH  AAH  AAH  AAH
1  AIC  ABD  ABD  ABD  ABD  AAY  ABD  AAY  AAY  AAY  ABD
2  AIJ  AIC  AIC  AIC  AIC  ABD  AIC  ABD  ABD  ABD  ABX
3  AJT  AIJ  AIJ  AIJ  AIJ  AIC  AIJ  AIC  AIJ  AIJ  AIJ
4  AMF  AJT  AJT  AJT  AJT  AIJ  AJT  AIJ  AJT  AJT  AJT
5  AMX  ASH  ATN  ATN  BJT  AJT  AMF  AJT  AMF  AMF  AMF
6  ASH  ATN  BER  BER  BTA  AMF  ASH  AMF  ATN  ASH  ASH
7  ATN  BER  BJT  BJT  CAB  ASH  ATN  ATN  BER  ATN  ATN
8  BER  BTA  BTA  BTA  CCP  ATN  BER  BER  BJT  AWE  AWE
9  BJT  CAB  CAB  CAB  CES  BJT  BJT  BJT  BTA  BJT  BJT

In [51]:
#sort dataframe
bottom_10 = bottom_10.apply(lambda x: x.sort_values().values)
bottom_10

  2008 2009 2010 2011 2012 2013 2014 2015 2016 2017 2018
0  ABD  AAH  AAH  AAH  AAH  AAH  AAH  AAH  AAH  AAH  AAH
1  AIC  ABD  ABD  ABD  ABD  AAY  ABD  AAY  AAY  AAY  ABD
2  AIJ  AIC  AIC  AIC  AIC  ABD  AIC  ABD  ABD  ABD  ABX
3  AJT  AIJ  AIJ  AIJ  AIJ  AIC  AIJ  AIC  AIJ  AIJ  AIJ
4  AMF  AJT  AJT  AJT  AJT  AIJ  AJT  AIJ  AJT  AJT  AJT
5  AMX  ASH  ATN  ATN  BJT  AJT  AMF  AJT  AMF  AMF  AMF
6  ASH  ATN  BER  BER  BTA  AMF  ASH  AMF  ATN  ASH  ASH
7  ATN  BER  BJT  BJT  CAB  ASH  ATN  ATN  BER  ATN  ATN
8  BER  BTA  BTA  BTA  CCP  ATN  BER  BER  BJT  AWE  AWE
9  BJT  CAB  CAB  CAB  CES  BJT  BJT  BJT  BTA  BJT  BJT

In [52]:
#calculate the mode
value_count = 0
count = 0
bottom_data = {}

for index, columns in bottom_10.iterrows():
    for value in columns.values:
        
        if value not in bottom_data:
            bottom_data[value] = 1
        else:
            bottom_data[value] += 1

In [53]:
#create new dataframe that shows bottom 10  
mode_analysis = pd.DataFrame({'Airline': bottom_data})
mode_analysis.sort_values(by='Airline', ascending=False)

mode_analysis.to_csv('./Bottom_Airlines.csv')

In [54]:
#color the airline codes that have the highest frequency 

codes = ["ABD", "AIJ", "AJT"]

def color_new_account(val): 
    color = "White"
    if val == "ABD":
        color = "yellow"
    elif val == "AIJ":
        color = "orange"
    elif val == "AJT":
        color = "green"
    return "background-color:" + str(color)

bottom_10 = bottom_10.style.applymap(color_new_account)
bottom_10